## 06-1 간단한 함수 만들기

#### [Do It! 실습] 사용자 함수 만들기

In [8]:
def my_sq(x):
    return x ** 2

In [9]:
def avg_2(x, y):
    return (x + y) / 2

In [10]:
def avg_2(x, y):
    """두 숫자의 평균을 구하는 함수
    """
    return (x + y) / 2

In [11]:
my_calc_1 = my_sq(4)
print(my_calc_1)

16

In [12]:
my_calc_2 = avg_2(10, 20)
print(my_calc_2)

15.0

## 06-2 apply() 메서드 사용하기

#### [Do It! 실습] 데이터프레임에 함수 적용하기

In [13]:
import pandas as pd

df = pd.DataFrame({"a": [10, 20, 30], 
                   "b": [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [14]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

### 시리즈에 함수 적용하기

#### [Do It! 실습] 시리즈에 함수 적용하기

In [15]:
print(type(df['a']))

<class 'pandas.core.series.Series'>

In [16]:
print(type(df.iloc[0]))

<class 'pandas.core.series.Series'>

In [17]:
print(my_sq(df['a']))

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

#### [Do It! 실습] 사용자 함수 만들어 데이터프레임에 적용하기

In [19]:
def my_exp(x, e):
    return x ** e

In [20]:
cubed = my_exp(2, 3)

print(cubed)

8

In [ ]:
# my_exp(2)  # 오류

In [21]:
ex = df['a'].apply(my_exp, e=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [22]:
ex = df['a'].apply(my_exp, e=3)
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

### 데이터프레임에 함수 적용하기

In [23]:
df = pd.DataFrame({"a": [10, 20, 30], 
                   "b": [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [24]:
def print_me(x):
    print(x)

#### [Do It! 실습] 열 단위로 함수 적용하기

In [25]:
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [ ]:
df.apply(print_me, axis=1)
# axis = 0: 세로 방향, 열 기준
# axis = 1: 가로 방향, 행 기준준

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [26]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [27]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [28]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [ ]:
# print(df.apply(avg_3))  # 오류

In [30]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [31]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

#### [Do It! 실습] 행 단위로 함수 적용하기

In [ ]:
# print(df.apply(avg_3_apply, axis=1))  # 오류

In [32]:
def avg_2_apply(row):
    x = row[0]
    y = row[1]
    return (x + y) / 2

In [33]:
print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

C:\Users\asia\AppData\Local\Temp\ipykernel_9888\646818405.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = row[0]
C:\Users\asia\AppData\Local\Temp\ipykernel_9888\646818405.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y = row[1]

## 06-3 람다 함수 사용하기

#### [Do It! 실습] 데이터프레임에 람다 함수 사용하기

In [34]:
df = pd.DataFrame({'a': [10, 20, 30],
                   'b': [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [35]:
def my_sq(x):
    return x ** 2

df['a_sq'] = df['a'].apply(my_sq)
print(df)

    a   b  a_sq
0  10  20   100
1  20  30   400
2  30  40   900

In [36]:
df['a_sq_lamb'] = df['a'].apply(lambda x: x ** 2)
print(df)

    a   b  a_sq  a_sq_lamb
0  10  20   100        100
1  20  30   400        400
2  30  40   900        900

## 06-4 벡터화된 함수 사용하기

#### [Do It! 실습] 벡터화된 함수 사용하기

In [44]:
df = pd.DataFrame({"a": [10, 20, 30], 
                   "b": [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [45]:
def avg_2(x, y):
    return (x + y) / 2

In [46]:
print(avg_2(df['a'], df['b']))

0    15.0
1    25.0
2    35.0
dtype: float64

In [58]:
import numpy as np

def avg_2_mod(x, y):
    if (x == 20): # {10, 20, 30} == 20 이라는 뜻
        return(np.nan)
    else:
        return (x + y) / 2

In [ ]:
# print(avg_2_mod(df['a'], df['b']))  # 오류

In [59]:
print(avg_2_mod(10, 20))

15.0

In [60]:
print(avg_2_mod(20, 30))

nan

### 넘파이와 넘바로 벡터화하기

#### [Do It! 실습] 넘파이로 벡터화하기

In [67]:
import numpy as np

avg_2_mod_vec = np.vectorize(avg_2_mod)

In [68]:
print(avg_2_mod_vec(df['a'], df['b']))

[15. nan 35.]

In [ ]:
@np.vectorize # 새 함수를 안 만들어도 됨됨
def v_avg_2_mod(x, y):
    if (x == 20):
        return(np.nan)
    else:
        return (x + y) / 2

print(v_avg_2_mod(df['a'], df['b']))

[15. nan 35.]

#### [Do It! 실습] 넘바로 벡터화하기

In [ ]:
import numba

# Numba는 타입에 민감하기 때문에 타입 안정성을 위해 int(x)처럼 명시
@numba.vectorize
def v_avg_2_numba(x, y):
    if (int(x) == 20):
        return(np.nan)
    else:
        return (x + y) / 2

In [ ]:
# print(v_avg_2_numba(df['a'], df['b']))  # 오류
# df['a']와 df['b']는 Pandas Series 객체이고,
# @numba.vectorize로 만든 함수는 NumPy 배열 (np.ndarray)만 처리 가능

In [ ]:
print(v_avg_2_numba(df['a'].values, df['b'].values))
# df['a'].values or .to_numpy()