In [ ]:
import pandas as pd
import matplotlib.pylab as plt
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression

price = [174000, 156500, 168000, 145000, 172500, 178000, 168500, 176000, 205000,
         166800, 169000, 152300, 169500, 164000, 153500, 153500, 147500, 123500,
         115000, 132000, 132000, 127500, 136800, 135000, 140000, 137700, 130000,
         136500, 99900, 105000, 126000, 126000, 103000, 106000, 148000, 131000,
         133000, 108500, 97000, 167000, 95000, 95000, 143000, 107000, 119000,
         96000, 129700, 104700, 152000, 100000, 102500, 106000, 113000, 109000,
         109800, 141000, 136000, 133000, 115000, 155000, 134000, 130000, 140000,
         117500, 138800, 149000, 100000, 139500, 160500, 150000]
size  = [152, 118, 118, 85, 118, 152, 118, 152, 162, 118, 118, 85, 118, 118, 85,
         85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 60, 60, 85, 85, 60,
         60, 169, 85, 85, 60, 60, 169, 60, 60, 112, 112, 85, 60, 85, 60, 112,
         85, 60, 60, 60, 60, 60, 138, 85, 85, 60, 138, 85, 85, 85, 60, 85, 128,
         59, 128, 128, 115]
age = [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
       19,19, 19, 19, 18, 18, 18, 18, 18, 18, 23, 23, 23, 23, 23, 23, 23, 23,
       23, 23, 23, 23, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 11, 11, 11, 11, 11]
kindergarten = [22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22,
                22, 6, 6, 6, 6, 6, 14, 14, 14, 14, 14, 14, 9, 9, 9, 9, 9, 9, 9,
                9, 9, 9, 9, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 10, 10, 10, 10, 10,
                10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 4, 4, 4, 4, 4]
elementarySchool = [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                    10, 10, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 2, 2, 2, 2, 2, 2,
                    2, 2, 2, 2, 2, 2, 10, 10, 10, 10, 10, 10, 10, 10, 10, 7, 7,
                    7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 12, 12, 12, 12, 12]
busStop = [13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
           32, 32, 32, 32, 32, 16, 16, 16, 16, 16, 16, 12, 12, 12, 12, 12, 12,
           12, 12, 12, 12, 12, 12, 15, 15, 15, 15, 15, 15, 15, 15, 15, 13, 13, 13,
           13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 29, 29, 29, 29, 29]
hospital = [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
            20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 12, 12, 12, 12, 12, 12,
            12, 12, 12, 12, 12, 12, 16, 16, 16, 16, 16, 16, 16, 16, 16, 19, 19, 19,
            19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 14, 14, 14, 14, 14]
mart = [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 17,
        17, 17, 17, 17, 21, 21, 21, 21, 21, 21, 23, 23, 23, 23, 23, 23, 23, 23,
        23, 23, 23, 23, 15, 15, 15, 15, 15, 15, 15, 15, 15, 19, 19, 19, 19, 19,
        19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 14, 14, 14, 14, 14]

In [ ]:
data = {'price': price, 'size': size, 'age': age, 'kindergarten': kindergarten,
        'elementarySchool': elementarySchool, 'busStop': busStop,
        'hospital': hospital, 'mart': mart}
df = pd.DataFrame(data)

fit = ols('price ~ size + age + kindergarten + elementarySchool + busStop +\
           hospital + mart', data=df).fit()
print(fit.summary())